.embla {
    --slide-spacing: 0;
    --slide-size: 100%;
    --slide-height: 90%;
    padding: 0;
    height: calc(100% - 60px);
    position: relative;
}

.emblaViewport {
    overflow: hidden;
    height: 100%;
}

.emblaContainer {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 100%;
}

.emblaSlide {
    flex: 0 0 var(--slide-size);
    justify-content: center;
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
    display: flex;
}

.emblaSlideImg {
    display: block;
    height: var(--slide-height);
    object-fit: contain;
}

.emblaNav {
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    height: 4rem;
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.7);
    border-radius: 2px;
}

.emblaPrev {
    left: 1rem;
}

.emblaNext {
    right: 1rem;
}

@media only screen and (min-width: 900px) {
    .embla {
        padding: 0 1rem;
    }
}
