.imageDetailsModalContainer {
    outline: 0;
    width: var(--dimensions);
    height: var(--dimensions);
    background-color: #121212;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageDetailsModalHeader {
    position: relative;
    height: 60px;
    width: 100%;
}

.imageDetailsModalTitle {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.imageDetailsModalCloseIcon {
    margin-right: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.imageDetailsModalBody {
    position: relative;
    height: 90%;
    width: 100%;
}

.imageDetailsModalImage {
    object-fit: contain;
}
