.bannerImage {
    opacity: 1;
    object-fit: cover;
    filter: blur(7px);
    transition: 1000ms all ease;
}

.bannerImage.transition1 {
    filter: blur(10px);
    opacity: 70%;
}

.bannerImage.transition2 {
    filter: blur(12px);
    opacity: 50%;
}

.bannerImage.transition3 {
    opacity: 0;
}

.imageBannerContainer {
    position: sticky;
    top: 64px;
    overflow: hidden;
}

.imageBannerContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(18 18 18) 100%);
    z-index: 1;
    width: 100%;
}

@media only screen and (max-width: 899px) {
    .imageBannerContainer, .imageBannerContainer::after {
        height: 20vh;
    }
}

@media only screen and (min-width: 900px) {
    .imageBannerContainer, .imageBannerContainer::after {
        height: 30vh;
    }
}
