.banner-image {
    opacity: 1;
    object-fit: cover;
    filter: blur(9px);
    transition: 1000ms all ease;
}

.image-banner-container .transition1 {
    filter: blur(10px);
    opacity: 70%;
}

.image-banner-container .transition2 {
    filter: blur(12px);
    opacity: 50%;
}

.image-banner-container .transition3 {
    opacity: 0;
}

.image-banner-container {
    position: sticky;
    top: 64px;
    overflow: hidden;
}

.image-banner-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(18 18 18) 100%);
    z-index: 1;
    width: 100%;
}

@media only screen and (max-width: 899px) {
    .image-banner-container, .image-banner-container::after {
        height: 20vh;
    }
}

@media only screen and (min-width: 900px) {
    .image-banner-container, .image-banner-container::after {
        height: 40vh;
    }
}
