.logo {
    display: flex;
    filter: drop-shadow(0 1rem 0.3rem rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 899px) {
    .logo {
        height: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .logo {
        height: 230%;
    }
}
